---
layout: layouts/full.njk
title: Fotografía
eleventyNavigation:
  key: fotografia
  title: Fotografía
  order: 3
---

<div class="fotografia-hero">
  {% set elemento = {"imagen": "foto-1.jpg"} %}
  {% include 'components/project.njk' %}
</div>

<div class="container grid fotografia-contenidos">
  <div class="fotografia-titulo">
    <h1 class="text-headline font-2">
      Fotografía
    </h1>
  </div>

  <div class="fotografia-texto">
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    </p>
  </div>

  {% for elemento in fotos %}
    {% include 'components/project.njk' %}
  {% endfor %}

</div>

  