---
layout: layouts/base.njk
title: Quien soy
eleventyNavigation:
  key: quiensoy
  title: quien soy
  order: 4
---

<div class="col-6 col-md-5 col-sm-4 col-xs-6 contacto">
  <h1 class="font-2 text-headline">Quien soy</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>

</div>

{# {% for elemento in ilus %}
    {% include 'components/project.njk' %}
  {% endfor %}

</div>

<div class="col-6 col-md-5 col-sm-4 col-xs-6 ilustracion-texto"> #}