  <div class="footer">
    <div class="container grid">
      <div class="col-12">
        &copy;Michaella Zena
        <a href="#">Aviso Legal</a>
        <a href="/contacto/">Contacto</a>
      </div>
    </div>
  </div>

  <script src="/assets/scripts/nav.js"></script>
  </body>
</html>